.onglets {
  display: flex;
  list-style: none;
}

.onglets li {
  margin: 25px 10px 20px 30px;
}

#loupe {
  position: absolute;
  right: 5px;
  top: 50px;
  display: inline-block;
  background: #eee;
  border: 1px solid #DD4B39;
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
}

section {
  margin-bottom: 25px;
}

a {
  color: black;
}

.active {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}

#blocs div {
  background-color: red;
}

#blocs h2 {
  text-align: center;
}

#blocs p {
  text-align: justify;
  padding: 10px;
}

#table-container #table th {
  padding-left: 20px;
}

#table-container #table td {
  padding-left: 20px;
}

#table-container #table tr {
  border: 2px solid gray;
}

#lien-videos {
  list-style: none;
}

#la_video {
  border: 2px solid black;
  margin-left: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #onglets {
    margin: 15px 0 20px 15px;
  }
  #blocs {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  #onglets {
    margin: 15px 0 20px 15px;
  }
  #blocs {
    display: flex;
    justify-content: space-around;
  }
}
